a {
  color: #1b709d !important;
}
h1, h2, h3, .text-dark-blue {
  color: #002855 !important;
}
h2 {
  font-family: 'EB Garamond', serif !important;
}
h3.border-top {
  border-top: 2px solid #002855 !important;
}
a, h1, h3, p, span {
  font-family: 'Public Sans', sans-serif !important;
}
.text-bg-dark {
  background-color: #0d284e !important;
}
.text-bg-light {
  background-color: #f2f5f7 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fp-light-box {
  background-color: #dfe5ed;
}
.fp-dark-box {
  background-color: #0d284e;
}
a.nav-link > img {
  width: 40px;
  height: 40px;
}
a.nav-link {
  line-height: 40px;
}

a {
  text-decoration: none !important;
}

body.frontpage {
  background-color: #f2f5f7;
}
body.conceptpage {
  background-color: #dfe5ed;
}

main {
  background-image: url('img/viivakuvio.svg');
}
@media (min-width: 1000px) {
  h1 {
    font-size: 3.75rem! important;
  }
  h2 {
    font-size: 3.25rem! important;
  }
  h3 {
    font-size: 2.5rem! important;
  }
}
@media (min-width: 1200px) {
  .container-xxl {
    max-width: 1400px !important;
  }
}
