:root {
    /* Color definitions */
    --dark-color: #0d284e;
    --secondary-dark-color: #1b709d ;
    --medium-color: #dfe5ed;
    --secondary-medium-color: #b8c9db;
    --light-color: #f2f5f7;
    --white-color: #ffffff;

    /* Font definitions */
    --font-size: 14px;
    --font-family: 'Public Sans', sans-serif;
    --font-family-heading: 'EB Garamond', serif;
}

body {
  color: var(--dark-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.fs-1 {
  font-size: 4.25em !important;
}

.fs-2 {
  font-size: 3.25em !important;
}

.fs-3 {
  font-size: 2.75em !important;
}


.bg-dark {
  background-color: var(--dark-color) !important;
}

.bg-medium {
  background-color: var(--medium-color) !important;
}

.bg-light {
  background-color: var(--light-color) !important;
}

#vocabulary-list h2, #welcome-box h2, #vocab-info h2 {
  font-family: var(--font-family-heading) !important;
}

header > h2 > a {
  font-family: var(--font-family-heading) !important;
  color: var(--dark-color)
}

#vocabulary-list .list-group-item {
  background-color: var(--medium-color) !important;
}

#vocabulary-list .border-top {
  border-top: 2px var(--dark-color) solid !important;
}

.vocab-category a {
    color: var(--secondary-dark-color);
    text-decoration: underline var(--secondary-medium-color) solid;
}

#alphabetical-menu > .list-group > .list-group-item {
  border: none !important;
}

#sidebar > div > .nav-tabs > .nav-item {
  border: none !important;
  border-image: none !important;
  transition: none;
}

/*** Sidebar ***/
#sidebar .nav-item {
    background-color: var(--light-color);
}

#sidebar .nav-link {
    color: var(--dark-color) !important;
    transition: none;
}

#sidebar .nav .active {
    background-color: var(--dark-color);
    color: var(--white-color) !important;
}

#sidebar .pagination {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 1rem;
    margin: 0;
    flex-wrap: wrap;
}

#sidebar .page-item, #sidebar .page-link {
    background-color: var(--dark-color);
    color: var(--white-color) !important;
    font-weight: normal !important;
    border: none;
    border-radius: 0 !important;
    margin: 0 !important;
    transition: none;
}

/* Not sure what these should be, probably something though */
#sidebar .page-link:hover, #sidebar .page-link:active, #sidebar .page-link:focus {
    background-color: var(--dark-color);
    color: var(--white-color);
    box-shadow: none;
}

#alpha-list {
    padding: 2rem 1rem;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--secondary-medium-color) var(--light-color);
    height: 600px; /*remove*/
}

#alpha-list::-webkit-scrollbar {
    background: var(--light-color);
}

#alpha-list::-webkit-scrollbar-thumb {
    background: var(--secondary-medium-color);
}

#alpha-list li {
    border: none;
    border-radius: none;
    padding: 0.25rem 0.5rem;
}

#alpha-list a {
    color: var(--secondary-dark-color);
    text-decoration: none;
    font-weight: bold;
}

#alpha-list .list-group-item.selected a {
    color: var(--dark-color);
    font-size: 18px;
}

#tab-hierarchy {
    background-color: var(--dark-color);
    color: var(--white-color);
}

#sidebar .page-item, #sidebar .page-link {
    background-color: var(--dark-color);
    color: var(--white-color) !important;
    font-weight: normal !important;
    border: none;
    border-radius: 0 !important;
    margin: 0 !important;
    transition: none;
}

tr > td {
  color: var(--dark-color);
}

tr > td > div > a {
  color: var(--secondary-dark-color);
  text-decoration: none !important;
  font-weight: 700 !important;
}


td.main-table-label, .vocab-statistics > h3 {
  font-size: 20px !important;
}

td.align-middle {
  font-size: 16px;
}

table.vocab-info-literals > tbody > tr {
  border-top: 1px solid var(--medium-color);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1460px !important;
  }
}

